#main-header img {
   width: 100%;
   height: auto;
}

.bg-black {
   background: #000;
   color: #fff;
}

#main-header .port-item {
   width: 30%;
}

#main-header .port-item:hover {
   opacity: 0.8;
   cursor: pointer;
}

.photo-subject {
   background: #000 url('../img/person1.jpg') no-repeat center center / cover;
}

@media (min-width: 1199px) {
   .port-item {
      padding: 3em !important;
   }
}